# macOS stuff
.DS_Store

# Django & Python
__pycache__/
*.py[cod]
*.pyo
*.log
db.sqlite3
db.sqlite3-journal

# virtual envs
.venv/
venv/
env/
ENV/

# Django static & media
staticfiles/
media/

# React + Vite
node_modules/
dist/
build/
.vite/
*.env.local
*.env.development.local
*.env.production.local

# Docker
.docker/
docker-compose.override.yml
*.pid

# security .env
.env
.env.*
!.env.example
config.yml


# github & ide
.vscode/
.idea/
.github/
