.post-details-page {
    margin-left: 28vw;
    background-color: #fff6e1;
    width: 50rem;
    height: fit-content;
    padding: 12px;
    border-radius: 20px;
    border: 2px solid #30c3f0;
    color: black;
}