
body
{
  background-size: cover;
  background-image: url('../assets/duck.png');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffabff;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}


.greeting
{
    /* margin-top: 15rem; */
    font-size: 3rem;
    z-index: 1;
    -webkit-text-stroke: 1px black;

    
}
