
.Quack
{
  background-size: cover;
  background-image: url('../assets/duckHero.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffabff;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width:100vw;
  display: flex;

  overflow: hidden;
}




.greeting
{
    top: 10vh;
    font-size: 3rem;
    -webkit-text-stroke: 1px black;
    text-align:center;

    
}

.qButton {
  margin-left: 30vh;
  margin-top: 20vh;
}