
.Quack
{
  background-size: cover;
  background-image: url('../assets/duckHero.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #ffffabff;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width:100vw;
  display: flex;

  overflow: hidden;
}




.greeting
{
    margin-top: 40vh;
    font-size: 3rem;
    -webkit-text-stroke: 1px black;
    text-align:center;

    
}

.qButton {
  margin-left: 45vh;
  margin-top: -5vh;
}