
.Quack {
  background-size: cover;
  background-image: url('../assets/duckHero.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #ffcc33;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  display: flex;

  overflow: hidden;
}

.image {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  height: 100%;           
}


.mainmsg {
  font-size: 3rem;
  text-align: center;
  color: #FBFBFB;
  margin: 0 0 1rem 0; 
}

.highlight {
  background: linear-gradient(90deg, #f6d365, #fda085);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  font-weight: bold;
}

.qButton {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 50%;
  padding: 0.75rem 1rem;
  background: #30c3f0; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
