
.Quack {
  background-size: cover;
  background-image: url('../assets/duckHero.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgb(239,179,0);
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  display: flex;

  overflow: hidden;
}

.image {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  height: 100%;           
}


.mainmsg {
  font-size: 3rem;
  text-align: center;
  color: #FBFBFB;
  margin: 0 0 1rem 0; 
}

.highlight {
  font-weight: bold;
  background: linear-gradient(
    270deg,
    red, orange, yellow, green, blue, indigo, violet, red
  );
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

.qButton {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  width: 50%;
  padding: 0.75rem 1rem;
  background: #30c3f0; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: grey 0px 0px 5px;
}
