.signup-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.signup-form {
  background: #fff6e1;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid #30c3f0;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-redirect-button {
  margin-top: 2rem; /* spacing from form */
  padding: 0.75rem 1rem;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.login-redirect-button:hover {
  background: #363636;
}


.signup-title {
  margin-bottom: 1.5rem;
  color: black;
}


.signup-input {
  width: 80%;
  padding: 0.75rem 1rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.2s;
  background-color: #060708;
}

.signup-input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  outline: none;
}


.signup-button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0.75rem 1rem;
  background: #30c3f0; /* like the coms color */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.signup-button:hover {
  background: #25B2D9;
}

.signup-error {
  color: red;
  margin-top: 1rem;
}

.signup-message {
  color: green;
  margin-top: 1rem;
}