<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WARNING</title>

    <body>
    <div class="container">
        <h1>⚠️ THIS IS NOT THE MAIN PAGE USED IN PRODUCTION ⚠️</h1>
        <p>To see the real frontend, open a new terminal and run the React Dev Server with <code>npm run dev</code>.</p>
        <p>Make sure the server is running before clicking the button!</p>
        <a href="http://localhost:5173/" class="button" target="_blank" rel="noopener noreferrer">Go to React Dev Server</a>
    </div>
    </body>
</html>
